extends layout

block content
  div(class='container')
        div(class='image_container')
            img(src='img/heroImage.png' class='hero-image')
            div(class='explanation_container')
                h3 - Calls everyone on time
                h3 - Records your key discussion points
                h3 - Sends them to everyone in your team
        div(class='form_container')
            div(class='title_container')
                img(src='img/Emma.png' class='image-icon')
                h4 Emma   
            h1 Organize your meeting with us
            div(class='form')
                div(class='form_fields')
                    h5 Phone numbers
                    input(type='text' class='text_box')
                    h6 Separate multiple phone numbers with commas
                div(class='form_fields-last')
                    h5 Time of meeting
                    input(type='text' class='text_box')
                button(class='button' onclick='postStuffOntoAWS()') Eureka!

